.node-blog {
  &.node-teaser {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  time, span.tags {
    color: lighten($color-grey-dark, 50%);
    display: block;
    margin: 1em 0;

    span {
      margin-right: 5px;
    }
  }

  span.image {
    img {
      height: auto;
      width: 100%;
    }
  }
}
