$color-black: #000;
$color-grey-light: #F3F3F3;
$color-grey-dark: #353535;
$color-white: #FFF;

$color-branding-facebook: #3B5998;
$color-branding-github: #333;
$color-branding-gplus: #D34836;
$color-branding-linkedin: #0E76A8;
$color-branding-twitter: #4099FF;
