@import "compass/css3/border-radius";

.social-icons {
  display: block;
  margin-top: 5px;

  .social {
    @include border-radius(30%);

    background-color: $color-grey-dark;
    color: $color-grey-light;
    height: 32px;
    width: 32px;
    margin-right: 5px;
    padding: 10px 0;
    text-align: center;

    &:hover {
      background-color: $color-grey-light;
      color: $color-grey-dark;
    }
  }

  .fa-facebook {
    &:hover {
      color: $color-white;
      background-color: $color-branding-facebook;
    }
  }

  .fa-github-alt {
    &:hover {
      background-color: $color-grey-light;
      color: $color-branding-github;
    }
  }

  .fa-google-plus {
    &:hover {
      background-color: $color-branding-gplus !important;
      color: $color-white !important;
    }
  }

  .fa-linkedin {
    &:hover {
      background-color: $color-branding-linkedin;
      color: $color-white;
    }
  }

  .fa-twitter {
    &:hover {
      background-color: $color-branding-twitter !important;
      color: $color-white !important;
    }
  }
}
