#navbar {
  .logo {
    img {
      height: 32px;
    }
  }

  .navbar-brand {
    color: $color-white;
    font-size: 32px;
  }
}

.footer {
  background-color: $color-grey-dark;
  border-top: none;
  margin: 0
}
